header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12rem;
    background-color: #DDD;
}

h1{
    margin-bottom: 0.5rem;
}

header nav {
    margin-bottom: 1rem;
    background-color: BFBBBB;
}

header nav a {
    display: block;
    padding: 1rem;
    transition: 300ms;
}

header nav a:hover {
    background-color: rgb(255, 238, 0);
}

header nav a.active {
    font-weight: bold;
}

#brand {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    margin-left: 10px;
}

#brand img {
    height: 6rem;
}

#brand h1 {
    padding: 0 0 0 1rem;
    margin: 0;
}

#brand h1 small {
    display: block;
    font-weight: normal;
    font-size: 1.3rem;
}
nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    position: center;
    height: 1300px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
}
#equation {
    height: 10%;
    width: 100%;
    float: left;
    background-color: black;
    color: white;
    font-size: 2.5vmin;
    line-height: 10vh;
}
#display {
    height: 30%;
    width: 100%;
    float: left;
    background-color: black;
    color: white;
    font-size: 4vmin;
    line-height: 30vh;
    text-align: right;
}
#keyboard {
    height: 60%;
    width: 100%;
    float: left;
    background-color: #212121;
}
.btn {
    height: 20%;
    width: 25%;
    float: left;
    color: #FAFAFA;
    text-align: center;
    font-size: 3.5vmin;
    line-height: 12vh;
    cursor: pointer;
}
.btn:hover {
    background-color: rgba(238, 238, 238, 0.2);
}